@model IEnumerable<ByteBank.Models.ContaCorrente>


@{
    ViewData["Title"] = "ByteBank";

}


<h1>Clientes</h1>
<hr />


<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1613316762715-6e4af92690ce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                     class="img-responsive card-img-top" alt="cliente">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Cadastrar clientes ByteBanck.</p>
                    <a asp-action="cadastrar_clientes" class="btn btn-primary">Go cadastrar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1549923746-c502d488b3ea?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=751&q=80"
                     class="card-img-top img-responsive" alt="funcionario">
                <div class="card-body">
                    <h5 class="card-title">Funcionários</h5>
                    <p class="card-text">Cadastrar funcinários ByteBanck.</p>
                    <a asp-controller="Diretor" asp-action="Cadastrar" class="btn btn-primary">Cadastrar Diretor</a>
                    <a asp-controller="Designer" asp-action="Cadastrar" class="btn btn-primary">Cadastrar Designer</a>

                </div>
                <div class="card-footer">
                    <a asp-action="Funcionarios" class="btn btn-primary">Funcionários</a>
                </div>
            </div>
        </div>
    </div>
</div>

@if (@Model.Count() != 0)
{

    @foreach (var item in Model)
    {


        <p> Cliente: @item.Titular.Nome | Agência:@item.Agencia.NumAgencia | Conta:@item.Agencia.Conta</p>
        <p>Saldo:R$@item.Saldo | <a asp-controller="Home" asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a></p>

    }
}
else
{
    <p>Ainda nã existem clientes cadastrados</p>
}

